/* MainPage.css */
.dark-theme {
    background-color: #343a40; /* Dark background */
    color: #f8f9fa; /* Light text */
}

.dark-card {
    background-color: #495057; /* Darker background for cards */
    color: #f8f9fa; /* Light text for cards */
}

/* ...add more custom styles as needed... */

.dark-foot {
    background-color: #495057;
    color: rgb(50, 135, 233);
}
